.container {
    background-color: rgb(255, 255, 255);
    padding: 2em 2em;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.product-card {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(242, 242, 242);

    border-radius: 0.8em;

    height: 35em;
    flex: 1 0 30%;
    display: flex;
}

.product-info {
    flex: 0 0 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5em 2em;
    font-size: 1.4em;
    font-weight: 600;
}

.product-card:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.product-card .product-info a {
    text-decoration: none;
    color: black;
}