<div class="container">

    <div class="heading">
        <h1>All Gear</h1>
    </div>

    <div class="card-container">
        <div *ngFor="let card of cardsList" class="product-card" [routerLink]="['/details', card.id]"
             id="{{card.id}}" appOnMouseHover>

            <img class="background active" src="{{card.imageCatalogUrl}}" alt="">
            <img class="background inactive cover" src="{{card.imageCatalogHoverUrl}}" alt="">

            <div class="product-info">
                <div class="curator-name">
                    <a>{{card.curatedName}}</a>
                </div>
                <div class="product-price">
                    <a>{{card.priceInEur}} EUR</a>
                </div>
            </div>
        </div>

    </div>
</div>