.container {
    background-color: rgb(255, 255, 255);
    padding: 2em 2em;
}

.heading{
    margin-bottom: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.product-card {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(242, 242, 242);

    border-radius: 0.8em;

    height: 35em;
    flex: 1 0 30%;
    display: flex;

    position: relative;

    overflow: hidden;
}

img.background{
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.7s ease;
}

img.active {
    opacity: 1;
}

img.inactive {
    opacity: 0;
}

img.cover{
    object-fit: cover;
}

.product-info {
    flex: 0 0 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5em 2em;
    font-size: 1.4em;
    font-weight: 600;
    z-index: 2;
}

.product-card:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.product-card .product-info a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
}