<div class="container">

    <div class="heading">
        <h1>All Gear</h1>
    </div>

    <div class="card-container">
        <div *ngFor="let card of cardsList; let i = index" class="product-card" [routerLink]="['/details', card.id]"
            id="{{card.id}}" appOnMouseHover>

            <div class="image-loader" *ngIf="!imageLoaded[i]">
                <app-loader></app-loader>
            </div>
            
            <img class="background active" src="{{card.imageCatalogUrl}}" (load)="onImageLoad(i)" alt="Product Image">
            <img class="background inactive cover" src="{{card.imageCatalogHoverUrl}}" alt="Product Image In Use">

            <div class="product-info">
                <div class="curator-name">
                    <a>{{card.curatedName}}</a>
                </div>
                <div class="product-price">
                    <a>{{card.priceInEur | currency: 'EUR' : 'symbol' :'1.0-0'}}</a>
                </div>
            </div>
        </div>

    </div>
</div>