<header>
    <nav class="nav-main">
        <div class="nav-logo">
            <a href="index.html"><span>#Curated</span><span>Purifiers</span></a>
        </div>

        <div class="nav-shopping-cart">
            <a href="/cart.html"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
        </div>

        <div class="nav-menu">
            <ul>
                <li><a href="/signin.html"><i class="fa-solid fa-door-open"></i> Sign In</a></li>
                <!-- <li><a href="#"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li> -->
            </ul>
        </div>
    </nav>
</header>