<header>
    <nav class="nav-main">
        <div class="nav-logo">
            <a routerLink="/"><span>#Curated</span><span>Purifiers</span></a>
        </div>

        <div class="nav-shopping-cart">
            <a *ngIf="isCartEmpty()" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a *ngIf="!isCartEmpty()" routerLink="/cart"><i class="fa-solid fa-cart-plus"></i> Cart</a>            
        </div>

        <div class="nav-menu">
            <ul>
                <li *ngIf="!isUserLoggedIn"><a routerLink="/signin"><i class="fa-solid fa-door-open"></i> Sign In</a>
                </li>
                <li><a *ngIf="isUserLoggedIn" (click)="logout()"><i class="fa-solid fa-right-to-bracket"></i> Sign
                        Out</a></li>
            </ul>
        </div>
    </nav>
</header>

