<div class="container">

    <form class="login" [formGroup]="form" (ngSubmit)="login()">

        <h1>Sign In</h1>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" formControlName="email">
        </p>

        <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
            <p class="error" *ngIf="form.get('email')?.errors?.['email']">Email is not valid!</p>
        </ng-container>

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" name="password" id="password" placeholder="******" formControlName="password">
        </p>

        <ng-container *ngIf="form.get('password')?.touched">
            <p class="error" *ngIf="form.get('password')?.errors?.['required']">Password is
                required!</p>
            <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Password must
                be at least {{form.get('password')?.errors?.['minlength']['requiredLength']}}
                characters!</p>
        </ng-container>

        <ng-container>
            <p class="error" *ngIf="!areCredentialsCorrect">Credentials are incorrect!</p>
        </ng-container>

        <button [disabled]="form.invalid" [ngClass]="{'invalid': form.invalid}">Sign In</button>

        <p class="text-center">
            Don't have a profile?
            <a routerLink="/signup">Sign Up</a>
        </p>

    </form>
</div>