/*login register forms  */

form.login,
form.register {
    width: 30%;
    margin: 0em auto 0;
    text-align: center;
}

.login,
.register {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: rgb(255, 255, 255);
}

.login p,
.register p {
    padding-bottom: 0;
    padding-top: 1.5em;
}

.login input,
.register input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid green;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

/* .login select, .register select {
    border-color: black;
} */

.login button,
.register button {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5em;
    width: 50%;
    outline: none;
}

.login i,
.register i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: rgb(242, 242, 242);
}

.login a,
.register a {
    color: #007bff;
}

.login a:hover,
.register a:hover {
    cursor: pointer;
}

.register .tel {
    padding-right: 0.8em;
}

.login .field,
.register .field {
    display: flex;
    padding-bottom: 0;
}

/* errors  */
p.error {
    text-align: left;
    border-radius: 0.3em;
    color: rgb(214, 15, 15);
    padding-top: 0 !important;
}

input.ng-invalid.ng-touched {
    border-left-color: rgb(214, 15, 15);
}

input.error {
    border-left-color: rgb(214, 15, 15) !important;
}

.login button.invalid,
.register button.invalid {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    cursor: auto;
}