<div class="container">
    <div class="not-found-container">

        <h1>Ooops...</h1>


        <div class="not-found-message-container">
            <p class="not-found-icon"><i class="fa-solid fa-umbrella-beach"></i></p>

            <p>Apologies, the page you're seeking is nowhere to be found.</p>
            <p>Please explore our other offerings.</p>
        </div>

        <div class="btn">
            <div class="not-found-btn">
                <a routerLink="/catalog">Go to offers</a>
            </div>

        </div>
    </div>
</div>