<div class="container">

    <form class="register" [formGroup]="form" (ngSubmit)="register()">

        <h1>Sign Up</h1>

        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" formControlName="email">
        </p>

        <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
            <p class="error" *ngIf="form.get('email')?.errors?.['email']">Email is not valid!</p>
        </ng-container>

        <ng-container>
            <p class="error" *ngIf="isEmailTaken">Email is already registered!</p>
        </ng-container>

        <!-- password & rePasswords-->
        <ng-container formGroupName="passGroup">
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password" id="password" placeholder="******" formControlName="password">
            </p>

            <!-- password -->
            <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password is
                    required!</p>
                <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">Password must
                    be at least {{form.get('passGroup')?.get('password')?.errors?.['minlength']['requiredLength']}}
                    characters!</p>
            </ng-container>

            <!-- rePassword -->
            <p class="field field-icon">
                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="rePassword" id="rePassword" placeholder="******"
                    formControlName="rePassword"
                    [ngClass]="{'error': form.get('passGroup')?.get('rePassword')?.touched && form.get('passGroup')?.errors?.['passwordMatchValidator']}">
            </p>

            <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                <p class="error"
                    *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required'] || form.get('passGroup')?.errors?.['passwordMatchValidator']">
                    Repeat Password does not match password!</p>
            </ng-container>
        </ng-container>


        <button [disabled]="form.invalid" [ngClass]="{'invalid': form.invalid}">Create
            Profile</button>

        <p class="text-center">
            Have a profile?
            <a routerLink="/signin">Sign In</a>
        </p>

    </form>
</div>