<div class="container">
    <div class="profile-container">

        <h1>Your Profile</h1>

        <h2>Profile Info</h2>
        <div class="list">
            <p class="field field-icon use-data">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="text" name="email" id="email" value="miroslav@gmail.com" disabled>
            </p>
            <p class="field field-icon use-data">
                <label for="username"><span><i class="fa-solid fa-user"></i></span></label>
                <input type="text" name="username" id="username" value="miroslav" disabled>
            </p>
        </div>

        <h2>Orders</h2>
        <div class="list">
            <div class="order-date">
                <p>27.07.2023</p>
            </div>
            <div class="order-items">
                <div class="cart-item">
                    <div class="cart-item-image">
                        <img src="https://onedrive.live.com/embed?resid=A5258F9BF65585D3%2117994&authkey=%21AMJxTA6B52ni3kg&width=500&height=501"
                            alt="Air Purifier">
                    </div>

                    <div class="cart-item-data">
                        <p class="quantity">Blueair Blue Pure 211+ Auto</p>
                        <p class="quantity">1</p>
                        <p class="total-price">299 EUR</p>
                    </div>
                </div>

                <div class="cart-item">
                    <div class="cart-item-image">
                        <img src="https://onedrive.live.com/embed?resid=A5258F9BF65585D3%2117994&authkey=%21AMJxTA6B52ni3kg&width=500&height=501"
                            alt="Air Purifier">
                    </div>

                    <div class="cart-item-data">
                        <p class="quantity">Blueair Blue Pure 211+ Auto</p>
                        <p class="quantity">1</p>
                        <p class="total-price">299 EUR</p>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>