<div class="container">
    <div class="profile-container">

        <h1>Your Profile</h1>

        <h2>Profile Info</h2>
        <div class="list">
            <p class="field field-icon use-data">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="text" name="email" id="email" value="{{userEmail}}" disabled>
            </p>
            <p class="field field-icon use-data">
                <label for="username"><span><i class="fa-solid fa-user"></i></span></label>
                <input type="text" name="username" id="username" value="{{userUsername}}" disabled>
            </p>
        </div>


        <h2>Order History</h2>

        <div *ngIf="isOrderListEmpty()" class="no-orders">
            <p>You have no orders yet.</p>
        </div>

        <div *ngIf="!isOrderListEmpty()" class="list list-orders">
            <div class="order" *ngFor="let order of orders; let i = index">
                <div class="order-date">
                    <p>Order date: <span>{{order.orderDate | date:'dd.MM.yyyy HH:mm'}}</span>-<span class="elapsed-time">{{order.orderDate | elapsedTime}}</span></p>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Model</th>
                            <th>Q-ty</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order.items">
                            <td>
                                <div class="order-item-image">
                                    <img src={{item.imageUrl}} (load)="onImageLoad(i)" alt="Air Purifier">
                                </div>
                                
                                <div class="image-loader" *ngIf="!imageLoaded[i]">
                                    <app-loader-small></app-loader-small>
                                </div>
                            </td>
                            <td>
                                <p class="item">{{item.model}}</p>
                            </td>
                            <td>
                                <p class="item">{{item.quantity}}</p>
                            </td>
                            <td>
                                <p class="item">{{item.unitPriceInEur * item.quantity | currency: 'EUR' : 'symbol'
                                    :'1.0-2'}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="item"></p>
                            </td>
                            <td>
                                <p class="item"></p>
                            </td>
                            <td>
                                <p class="item">Total:</p>
                            </td>
                            <td>
                                <p class="item">{{getOrdetTotal(i) | currency: 'EUR' : 'symbol' :'1.0-2'}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>

</div>