@media (width< 1024px) {
    html {
        font-size: 13px;
    }
}

@media (width< 850px) {
    html {
        font-size: 11px;
    }

    .container>* {
        margin: 0;
        padding-bottom: 4em;
    }
}

