<div class="container">

    <div class="cart-container">
        
        <!-- <h1>Your Cart is empty</h1> -->

        <h1>Your Cart</h1>

        <div class="cart-items-list">
            <div class="cart-header">
                <p>Item</p>
                <p>Price</p>
            </div>

            <div class="cart-item">
                <div class="cart-item-image">
                    <img src="assets/blueAirBluePure211.png" alt="Air Purifier">
                </div>

                <div class="cart-item-details">
                    <div class="cart-item-title-price">
                        <h5>Blueair Blue Pure 211+ Auto</h5>
                        <h5>299 EUR</h5>
                    </div>

                    <div class="cart-item-quantity">
                        <a class="sign" disabled>-</a>
                        <p class="quantity">1</p>
                        <a class="sign">+</a>
                        <a class="remove-btn">Remove</a>
                    </div>
                </div>
            </div>

            <div class="cart-item">
                <div class="cart-item-image">
                    <img src="assets/cowayMightyBlack.png" alt="Air Purifier">
                </div>

                <div class="cart-item-details">
                    <div class="cart-item-title-price">
                        <h5>Blueair Blue Pure 211+ Auto</h5>
                        <h5>299 EUR</h5>
                    </div>

                    <div class="cart-item-quantity">
                        <a class="sign" disabled>-</a>
                        <p class="quantity">1</p>
                        <a class="sign">+</a>
                        <a class="remove-btn">Remove</a>
                    </div>
                </div>
            </div>

            <div class="cart-payment">
                <div class="cart-total">
                    <p>Total:</p>
                    <p class="total-price">299 EUR</p>
                </div>

                <div class="cart-credit">
                    <p>Your Credit:</p>
                    <p class="total-credit">1000 EUR</p>
                </div>

                <!-- <p class="cart-error funds-error">
                        Credit is insufficient. <a href="profile.html">Add funds to continue.</a>
                    </p>

                    <p class="cart-error address-error">
                        No delivery address. <a href="profile.html">Update delivery address to continue.</a>
                    </p> -->
            </div>

            <div class="cart-checkout">
                <div class="buy-btn">
                    <a href="#">Checkout</a>
                </div>
                <p class="free-shipping">Shipment is free!
                <p>
            </div>
        </div>

    </div>

</div>