<div class="container">

    <div class="cart-container">

        <ng-container *ngIf="isCartEmpty()">
            <h1>Your Cart is empty</h1>
        </ng-container>

        <ng-container *ngIf="!isCartEmpty()">
            <h1>Your Cart</h1>

            <div class="cart-items-list">
                <div class="cart-header">
                    <p>Item</p>
                    <p>Price</p>
                </div>

                <div class="cart-item" *ngFor="let item of cart; let i = index">
                    <div class="cart-item-image">
                        <img src="{{item.imageUrl}}" alt="Air Purifier">
                    </div>

                    <div class="cart-item-details">
                        <div class="cart-item-title-price">
                            <h5>{{item.model}}</h5>
                            <h5>{{item.unitPriceInEur * item.quantity | currency: 'EUR' : 'symbol' :'1.0-2'}}</h5>
                        </div>

                        <div class="cart-item-quantity">
                            <a class="sign-disabled" *ngIf="item.quantity<=1">-</a>
                            <a class="sign" *ngIf="item.quantity>1" (click)="decreaseItemQuantity(item.productId)">-</a>
                            <p class="quantity">{{item.quantity}}</p>
                            <a class="sign" (click)="increaseItemQuantity(item.productId)">+</a>
                            <a class="remove-btn" (click)="removeItemFromCart(item.productId)">Remove</a>
                        </div>
                    </div>
                </div>


                <div class="cart-payment">
                    <div class="cart-total">
                        <p>Total:</p>
                        <p class="total-price">{{getCartTotal() | currency: 'EUR' : 'symbol' :'1.0-2'}}</p>
                    </div>

                    <!-- <div class="cart-credit">
                        <p>Your Credit:</p>
                        <p class="total-credit">{{getUserCredit() | currency: 'EUR' : 'symbol' :'1.0-2'}}</p>
                    </div> -->
    
                        <!-- <p class="cart-error address-error">
                            No delivery address. <a href="profile.html">Update delivery address to continue.</a>
                        </p> -->
                        
                </div>

                <div class="cart-checkout">

                    <div (click)="checkout()" class="buy-btn" *ngIf="isUserLoggedIn()">
                        <a>Checkout</a>
                    </div>

                    <div routerLink="/signin" class="buy-btn" *ngIf="!isUserLoggedIn()">
                        <a>Checkout</a>
                    </div>

                    <p class="free-shipping">Shipment is free!
                    <p>
                </div>
            </div>
        </ng-container>



    </div>

</div>